body {
    margin:0;
}

@font-face {
    font-family: 'vintage_kingregular';
    src: url('../../assets/font/vintageking-webfont.woff') format('woff2'),
    url('../../assets/font/vintageking-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sweet purple';
    src: url('../../assets/font/sweet_purple-webfont.woff') format('woff2'),
    url('../../assets/font/sweet_purple-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.discover {
    background-color: #F88B61;
}

.discover .header_logo {
    text-align: center;
    margin-bottom: 150px;
    padding-top:20px;

}

.discover h1 {
    text-align:center;
    font-family: "vintage_kingregular";
    color:#F7E9C0;
    font-weight:normal;
    text-shadow: 1px 1px 2px black;
    font-size:50px;
}

.btnwrap  {
    text-align: center;
}

.btnwrap button {
    padding:15px;
    border:1px solid #D93D4C;
    border-radius: 10px;
    padding-right:50px;
    padding-left:50px;
    box-shadow: 0.5px 1px 3px black;
    text-align: center;
    font-family: "sweet purple";
    font-size: 50px;
    background-color: #D93D4C;
    color:white;
    margin-bottom:10rem;
}

.personnages {
    display: flex;
    justify-content: center;
    gap:10px;
    margin-bottom:-80px;

}

.ourtest {
    width:100%;
    height:300px;
    background-color: #D93D4C;
}

.line-1 {
    height: 2px;
    width:0rem;
    background: black;
    transition:width 300ms ease;

}

.line-1.complete {
    width:50rem;
}

.bus {
    padding-top:150px;
}

.boutonbonbon {
    background-color: transparent;
}


